.layout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 10px;
    width: 100%;
    background-color: #758467;
}