nav{
    backdrop-filter: blur(12px);
    background: transparent;
    -webkit-backdrop-filter: blur(12px);
    border-radius: 12px;
    padding: 3px 24px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.logo img{
    height: 60px;
    width: 60px;
}

nav ul{
    align-items: center;
    list-style: none;
    margin-left: o auto;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color:  white;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 50;
}

nav ul li a:hover{
    color: #282c34;
}